altgraph==0.17.2
certifi==2022.6.15
charset-normalizer==2.1.0
comtypes==1.1.11
docopt==0.6.2
future==0.18.2
idna==3.3
keyboard==0.13.5
pefile==2022.5.30
pipreqs==0.4.11
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
PyMouse==1.0
pynput==1.7.6
pywin32==304
pywin32-ctypes==0.2.0
pywinauto==0.6.8
requests==2.28.1
six==1.16.0
urllib3==1.26.11
yarg==0.1.9
